/* Set default font and background colors */
body {
	font-family: Arial, sans-serif;
	background-color: #f5f5f5;
	color: #333;
	word-wrap: break
}

/* Style the header */
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Style the logo */
header img {
	max-width: 150px;
}

/* Style the navigation menu */
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 10px;
}

nav a {
	text-decoration: none;
	color: #333;
}

nav a:hover {
	color: #0080ff;
}
/* Style the Search bar */
/* Add a black background color to the top navigation bar */
.topnav {
	overflow: show;
	background-color: #ffffff;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
	float: left;
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
	background-color: #2196F3;
	color: white;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
	float: right;
	padding: 6px;
	border: none;
	margin-top: 8px;
	margin-right: 16px;
	font-size: 17px;
  }
  
/*********************************boxes**********************************/
.margin-bot {margin-bottom:35px;}

.spacing {margin-right:35px;}

.indent {padding:0 0 0px 30px;}
.indent2 {padding-left:50px;}
.indent-bot {margin-bottom:20px;}
.indent-bot2 {margin-bottom:30px;}
.indent-bot3 {margin-bottom:45px;}

.img-indent-bot {margin-bottom:25px;}
.img-indent {float:left; margin:0 20px 0px 0;}	
.img-indent2 {float:left; margin:0 13px 0px 0;}	
.img-indent-r {float:right; margin:0 0px 0px 40px;}	

.prev-indent-bot {margin-bottom:10px;}	

.buttons a:hover {cursor:pointer;}
.clear {
 clear: both;
 display: block;
 overflow: hidden;
 visibility: hidden;
 width: 0;
 height: 0;
}

.logo{
	display: block;
	width: 224px;
	height: 119px;
	text-indent: -5000px;
	background: url(/photos/logo.png) 0 0 no-repeat;
	background-color: #0080ff;
	background-blend-mode: multiply;
	}

.food 
{
text-align: center;
font-size: 1.2em;
}


.food {
	max-width: 50%;
}
.food-descripton {
text-align: center;
display: flex;
}
.page3-img1{
	float:left;
	margin-right:15px;
}

.page3-box1 {
	margin-top:14px;
}

.page3-box1 .link4 {
	font-size:14px;
}

/*********************************boxes**********************************/

  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
	.topnav a, .topnav input[type=text] {
	  float: none;
	  display: block;
	  text-align: left;
	  width: 100%;
	  margin: 0;
	  padding: 14px;
	}
	.topnav input[type=text] {
	  border: 1px solid #ccc;
	}
  }
/* Style the main content */
main {
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
  }
  
  .grid-item {
	text-align: center;
  }
  
  .grid-item img {
	max-width: 100%;
	height: auto;
  }
  
  .grid-item p {
	margin-top: 10px;
	font-size: 16px;
  }

main h1 {
	font-size: 2em;
	margin-top: 0;
}

main p {
	margin-bottom: 20px;
}

main img {
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

main a {
	display: block;
	text-align: center;
}
div.alligncenter
{
	color: tomato;
}
/* Style the footer */
footer {
	background-color: #FB8500;
	color: #fff;
	text-align: center;
	padding: 10px;
	margin-top: 20px;
}
